.wrapper {
max-width: 80vw;
margin: 0 auto;
background-color: rgb(253, 253, 230);
}

.bayan {
    padding: 0;
}

.item {
    position: relative;
    margin: 0;
}

.itemInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.itemTitle {
    display: block;
    padding: 10px;
    border: 1px solid black;
}

.itemContent {
    padding: 10px;
    display: none;
    text-align: center;
}
.itemContent > img {
    padding: 0;
    width: 40vw;
}

.itemInput:checked ~ .itemTitle {
    background-color: rgb(203, 247, 255);

}

.itemInput:checked ~ .itemContent {
    display: block;
}