body {
    background-color: rgb(253, 253, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 21px;
}

.wrapper {
    max-width: 80vw;
    margin: 0 auto;
}

.bayan {
    padding: 0;
    color: rgb(65, 65, 255);
}
.bayan:hover {
    color: black;
}
.bayan:hover > .item > .itemTitle > .itemIcon {
    display: block;
}

.item {
    position: relative;
    margin: 0;
}

.item:hover .itemContent {
    display: block;
}

.itemInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.itemTitle {
    display:flex; 
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid rgb(219, 219, 219);
}

.itemIcon {
    display: none;
}

.itemContent {
    padding: 10px;
    display: none;
    text-align: center;
}
.itemContent > img {
    padding: 0;
    width: 40vw;
    animation: shows 0.3s;
}
@keyframes shows {
    from {
        width: 10vw;
    }
    to {
        width: 40vw;
    }
}

.itemInput:checked ~ .itemContent {
    display: block;
}
.itemInput:checked .itemContent {
    display: block;
}

.itemInput:checked ~ .itemTitle{
    color: black;
}
.itemInput:checked,:hover ~ .itemTitle > .itemIcon{
    rotate: 45deg;
}

.itemTitle:hover,
.itemContent:hover {
    cursor: pointer;
}